:root {
  --bg-color: white;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:hover {
  cursor: default;
}
a:hover {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: coral;
}
#logo {
  position: absolute;
  top: 15px;
  left: 50%;
  font-size: larger;
  color: chocolate;
  text-decoration: wavy;
  transform: translateX(-50%);
}
header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--bg-color);
  height: 100px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 5px 5px 15px grey;
}

#small,
#big {
  display: none;
}

#big {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 20px;
  display: block;
  height: 35px;
}
.dropdown {
  margin: 20px;
  display: inline-block;
  padding-bottom: 10px;
}
.dropdown:hover {
  cursor: pointer;
  border-bottom: 5px solid brown;
}
.dropdown ul {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  list-style: none;
  background-color: antiquewhite;
  border-radius: 5px;
}
.dropdown ul li {
  width: max-content;
  max-width: 150px;
  min-width: 100px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown:hover ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#selected {
  border-bottom: 5px solid brown;
}
main {
  padding: 30px;
  width: 75vw;
  margin: auto;
  background-color: beige;
  border-radius: 5px;
  padding-bottom: 50px;
  min-height: calc(100vh - 120px - 250px);
}
#artitle {
  font-size: 45px;
}
#app {
  text-align: center;
  width: 500px;
  background-color: aliceblue;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 20px;
}
#units,
#gen {
  padding: 5px;
  padding-right: 10px;
  width: 160px;
  margin: auto;
  border: 1px dotted black;
  border-radius: 5px;
  margin-top: 10px;
}
/* .unitr,
.genderr {
  opacity: 0;
  position: absolute;
} */
.unitr,
.genderr {
  margin-left: 10px;
}
#inps {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
#inps input {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  padding-left: 5px;
}
input:focus {
  outline: none;
}
button {
  height: 35px;
  width: 100px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
}

footer {
  color: white;
  height: 170px;
  background-color: black;
  width: 100%;
  box-shadow: 10px 10px 20px grey;
  border-radius: 2px;
}
#fmain {
  position: relative;
  width: 80%;
  margin: auto;
  height: inherit;
}
#flogo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: larger;
  color: chocolate;
  text-decoration: wavy;
}
#ftop {
  font-size: smaller;
  position: absolute;
  top: 10px;
  right: 10px;
}
#socials {
  margin: auto;
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 30px;
  justify-content: space-around;
}
/* CSS for Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End */
@media screen and (min-width: 600px) {
  #big {
    display: block;
  }
  #small {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #small {
    display: block;
  }
  #big {
    display: none;
  }
}
